.checkbox-button-horizontal-img {
	padding: 5px 0px;
}

.checkbox-button-horizontal-img label {
  display: block;
  border: 1px solid $primary-color;
  border-radius: 4px;
  position: relative;
  // margin: 10px;
  cursor: pointer;
	&:hover {
		color: darken($primary-color, 10%);
		img {
			transform: scale(1);
			}		
	}
	&:active {
		// background-color: lighten($color-brand-primary, 2%);
		// color: $color-lightest;
		img {
			transform: scale(1);
		}
	}
}




.checkbox-button-horizontal-img input[type="checkbox"] {
  display: none;
}

.checkbox-button-horizontal-img label:before {
  background-color: lighten($primary-color, 30%);
  color: #fff;
  content: " ";
  display: block;
  border-radius: 4px;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.checkbox-button-horizontal-img label img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transform: scale(.9);
  display: block;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.checkbox-button-horizontal-img input[type=checkbox].radio-button-horizontal-img:checked + label {
  border-color: #000;
}

.checkbox-button-horizontal-img input[type=checkbox]:checked + label:before {
  content: "✓";
  background-color: $color-brand-primary;
  transform: scale(1);
  z-index: 9999;
}

.checkbox-button-horizontal-img input[type=checkbox]:checked + label img {
  transform: scale(1);
 // box-shadow: 0 0 5px #333; 
  z-index: -1;
}