.radio-button-horizontal {
	padding: 5px 0px;
	display: inline;
}
.radio-button-horizontal input[type="radio"] {
  display: none;
}
.radio-button-horizontal label {
  background-color: $answer-opt-background;
  color: $answer-font-color;
  border: $answer-opt-border;
  font-family: $answer-font;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0px;
  font-size: $answer-font-size;
  -webkit-transition: color 0.4s ease-out;
	transition: color 0.4s ease-out;
	&:hover {
		background-color: $answer-opt-hover-background;
		color: $answer-opt-hover-color;
		border: $answer-opt-hover-border;
	}
	&:active {
		background-color: $answer-opt-active-background;
		color: $answer-opt-active-color;
		border: $answer-opt-active-border;
	}
	@media (max-width: 600px) {
	    font-size: $mobile-answer-font-size;
	    margin: 0px 0px;
	}
}
// .radio-button-horizontal label:before {
// 	content: "\f10c";
// 	font-family: "FontAwesome";
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;
// 	-webkit-font-smoothing: antialiased;
// 	width: 1em;
// 	display: inline-block;
// 	margin-right: 5px;
// 	margin-left: 5px;
// }
.radio-button-horizontal input[type=radio]:checked + label {
  background-color: $answer-opt-active-background;
  color: $answer-opt-active-color;
  -webkit-transition: background-color 0.4s ease-in;
	transition: background-color 0.4s ease-in;
	border: $answer-opt-active-border;
}
// .radio-button-horizontal input[type=radio]:checked + label:before {
//   content: "\f05d";
//   color: $answer-opt-active-color;
// }
