.radio-button {
	padding: 0px;
}
.radio-button input[type="radio"] {
  display: none;
}
.radio-button label {
  background-color: $answer-opt-background;
  color: $answer-font-color;
  font-family: $answer-font;
  border: $answer-opt-border;
  font-family: $answer-font;
  border-radius: 4px;
  padding: 10px;
  font-size: $answer-font-size;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  cursor: pointer;
	&:hover {
		background-color: $answer-opt-hover-background;
		color: $answer-opt-hover-color;
		border: $answer-opt-hover-border;
	}
	&:active {
		background-color: $answer-opt-active-background;
		color: $answer-opt-active-color;
		border: $answer-opt-active-border;
	}
	@media (max-width: 600px) {
	    font-size: $mobile-answer-font-size;
	}
}
.radio-button input[type=radio]:checked + label {
  background-color: $answer-opt-active-background;
  color: $answer-opt-active-color;
	border: $answer-opt-active-border;
  -webkit-transition: background-color 0.4s ease-in;
	transition: background-color 0.4s ease-in;
}
