.star-rating-svg {
  margin: 50px auto;
}
.star-rating-svg > label{
  float: right;
}
.star-rating-svg label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  &:hover {
    color: $color-brand-primary;
  }
  &:active {
    color: lighten($color-brand-primary, 20%);
  }

  // &:hover:after {
  //   color: $color-brand-primary;
  //   content: "\f005";
  //   font-family: "FontAwesome";
  //   color: $color-brand-primary;
  //   -webkit-transition: color 0.2s ease-in-out;
  //   transition: color 0.2s ease-in-out;  
  // }
  &:active:after {
    color: lighten($color-brand-primary, 20%);
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;  
  }
  // &:after {
  //   -webkit-font-smoothing: antialiased;
  //   position: absolute;
  //   content: "\f006";
  //   font-family: "FontAwesome";
  //   color: $color-brand-primary;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   text-align: center;
  //   font-size: 70px;
  // }
}

.star-rating-svg input[type="radio"] {
  display: none;
}

.star-rating-svg > label:hover {
  // ~ label:after {
  //     content: "\f005";
  //     font-family: "FontAwesome";
  //     color: $color-brand-primary;
  //     -webkit-transition: color 0.2s ease-in-out;
  //     transition: color 0.2s ease-in-out;  
  // }
}

.star-rating-svg input[type="radio"]:checked {
    + label > .st0 {
      fill: #333;
    }
}
//   + label:after, ~ label:after {
//   //     content: "\f005";
//   //     font-family: "FontAwesome";

//   //     -webkit-transition: color 0.4s ease-in-out;
//   //     transition: color 0.4s ease-in-out;
//   // }
// }
.st0 {
  fill: #fff;
  stroke: red;
  &:hover {
    fill: $color-brand-primary;
  }
  &:active {
    fill: darken($color-brand-primary, 10%);
    stroke: darken($color-brand-primary, 10%);
  }
  &:focus {
    fill: darken($color-brand-primary, 10%);
    stroke: darken($color-brand-primary, 10%);
  }  
}
