.content-pg-container {
  padding: 10px;
}
.content-pg-wrapper {
  display: inline-block;
  width: 100%;
}
.content-pg-headline {
  text-align: center;
}
.text-center {
  text-align: center;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.error-title {
  color: $color-error; 
}