.survey-heading {
	background-color: rgba(0,0,0,0);
	border-bottom: 1px solid transparent;
	background-image: url(../images/brand/ac_logo.svg);
	background-size: auto 40px;
	background-position: left; // Left || right || center
	background-repeat: no-repeat;
	height: 65px;
}
